  .username3 {
    background-color: #EA7A15;
    text-decoration: none;
  }

  .btn-orange {
    background-color: var(--orange) !important;
  }

  .skilled-img {
    border: none !important;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .feature-list {
    list-style: none !important;
  }
  
  .green-img {
    right: 120px;
  }
  .img-1 {
    top: -15em;
    right: -18em;
  }
  
  .img-2 {
    top: 20%;
    left: -20%;
  }
  .img-3 {
    top:50%;
    right:0;
  }
  .img-4 {
    top: 50%;
    left:-45%;
  }
  .img-5 {
    top: 30%;
    left: -10%;
  }
  
  .triangle {
    height: 30px;
    width: 30px;
  }

  
  .dotted-line {
    margin: 3.5em 0;
    border: #dbd9d9 1px dashed;
  }
  
  .service-provision, 
  .caution,
  .option-plan-disclaimer {
    color: #717171;
  }
  
  .service-provision p {
    margin-left: 2em;
    margin-bottom: 0 !important;
  }
  
  .service-provision-list, 
  .caution-list,
  .option-list,
  .contents-list-nested,
  .option-plan-disclaimer,
  .php-version {
    list-style-type: '※';
  }

  
  .support-menu-header {
    color: #2A8B4B;
  }
  
  .basic-customize-header {
    color: #CE286F;
  }
  
  .professional-customize-header {
    color: #1FA6B2;
  }
  
  .other-customize-header {
    color: #EA7A15;
  }
  .orange{
    background-color: #EA7A15;
  }
  td{
    text-align: center;
  }
  .circle{
    background-color: #ef847a88;
    width: 5%;
    height: 5%;
  }
  .step-line {
    border-left: 1px dotted black;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-color: #ef847a;
    height: 50px; 
    margin-left: 20px; 
    margin-top: 5px;
  }
  .step{
    top:8%;
    left:10%;
    color: #D82B1B;;
  }
  .price-icon{
    bottom: -5%;
    right:0;
  }
  .fs-sm{
    font-size: 0.6em;
  }
  html,body{
    width: 100vw;
    overflow-x: hidden;
  }
  .point-img{
    left: -10%;
  }
  .option-card{
    margin-left: 1rem;
  }
  .btn-toggle{
    display: none;
  }

  @media only screen and (max-width: 540px){
     .skilled-icon{
      margin-left:0 !important;
     }
     .feature-list {
      width: 100%;
     }
     .feature-container{
      /* margin-right: 20px !important; */
      width: 100% !important;
     }
     .point-img{
      display: none !important;
     }
     .function-cards{
        flex-direction: column !important;
     }
     .function-card{
      width: 100% !important;
     }
     .option-plan{
      flex-direction: column !important;
     }
     .option-card{
       margin-left: 0 !important;
     }
     .step-img > img{
      width: 60%;
     }
     .img-1{
       right: -30em;
     }
     .img-4{
      top: 88%;
      left: -30%;
     }
     .img-5{
      display: none !important;
     }
     .img-2{
      top: 30%;
      left: -30%;
      width: 100%;
     }
     .btn-toggle{
      display: block !important;
     }
     header > nav > button{
      visibility: hidden;
     }
  }

  @media only screen and (min-width: 550px ) and (max-width: 991px) {
     .img-2{
      left: -50%;
     }
     /* .img-4{
      left: -10%
     } */
  }
